* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 Font-family: 'Inconsolata', monospace;
 background-color: #f7f5f1
}


h2 {
  background-color: #000000;
  color: #fff;
  display: inline;
  
}
.menu-container {
  color: #ffff;
  background-color: #000000;  /* Blue */
  padding: 20px;
  display: flex;
}  

.menu {
   #6778f9;
  width: 900px;
  display: flex;
  justify-content: space-around;
  font-family: 'Inconsolata', monospace;
}

.container {
  position: relative;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1903px;
  height: 700px
}

#texto {
  position: absolute;
  font-size: 90px;
  font-family: 'Inconsolata', monospace;
  left: 850px;
  top: 240px;
  color: #ffff
}

#open {
  position: absolute;
  font-size: 15px;
  font-family: 'Inconsolata', monospace;
  background-color: #000000;
  left: 40px;
  top: 660px;
  color: #ffff
}

#street {
  position: absolute;
  font-size: 15px;
  font-family: 'Inconsolata', monospace;
  left: 1700px;
  top: 660px;
  color: #ffff
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  background-color: #000000;
  height: 100px;
  flex: 1;
}

box-shadow: 10px 5px 5px black;


